# 1.0 - IMPORTS

## 1.1 - LIBRARIES

In [103]:
import pandas as pd
import numpy as np
import inflection

## 1.2 - LOAD DATA

In [104]:
df_raw = pd.read_csv('../dataset/zomato.csv', low_memory=False, encoding='ISO-8859-1')

## 1.3 - HELPER FUNCTIONS

### 1.3.1 - RENAME COLUMNS FUNCTION

In [105]:
def rename_columns(column_name):
    words = column_name.split()
    return '_'.join(words).lower()

# 2.0 - DATA CLEANING

In [106]:
df2 = df_raw.copy()

## 2.1 - DATA DIMENSION

In [107]:
unique_data = df2.apply(lambda x: x.nunique())
rows = df2.shape[0]
cols = df2.shape[1]
print('The Dataset have {} columns and {} rows'.format(cols, rows))
print('\nAmount of unique data for data feature:\n\n{}'.format(unique_data))

The Dataset have 21 columns and 9551 rows

Amount of unique data for data feature:

Restaurant ID           9551
Restaurant Name         7446
Country Code              15
City                     141
Address                 8918
Locality                1208
Locality Verbose        1265
Longitude               8120
Latitude                8677
Cuisines                1825
Average Cost for two     140
Currency                  12
Has Table booking          2
Has Online delivery        2
Is delivering now          2
Switch to order menu       1
Price range                4
Aggregate rating          33
Rating color               6
Rating text                6
Votes                   1012
dtype: int64

## 2.2 - RENAME COLUMNS

In [108]:

df2.columns = [rename_columns(columns) for columns in df2.columns]
df2.columns

Index(['restaurant_id', 'restaurant_name', 'country_code', 'city', 'address',
       'locality', 'locality_verbose', 'longitude', 'latitude', 'cuisines',
       'average_cost_for_two', 'currency', 'has_table_booking',
       'has_online_delivery', 'is_delivering_now', 'switch_to_order_menu',
       'price_range', 'aggregate_rating', 'rating_color', 'rating_text',
       'votes'],
      dtype='object')